.pageContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f5f9;
}

.authContainer {
  display: flex;
  width: 900px;
  max-width: 95%;
  height: 500px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.panelContainer {
  flex: 1;
  background: #f7f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ddd;
}

.formContainer {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
